<p style="color: green"><%= notice %></p>
<br />
<%= render @friend %>

<div>
  <br />
  <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-dark" %>
  <br /> 
  <br />
  <%= link_to "Back to friends", friends_path, class: "btn btn-info" %>
  <br /> 
  <br />
  <%= button_to "Delete this friend", @friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %>  
</div>
